use flake
if [ "${NIX_DIRENV_DID_FALLBACK+x}" ]; then echo "Failed to load nix devshell" && exit 1; fi

export CARGO_INSTALL_ROOT="$PWD/.cargo"
PATH_add "$CARGO_INSTALL_ROOT/bin"

export RUST_BACKTRACE=1
export RUST_LOG=debug
